@model exaInnovation.Models.ViewModels.MetasViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Metas </h2>
        </div>
        <div class="col-6 text-right">
          @* <partial name="_CreateButtonPartial" />*@
          
        </div>
    </div>
    <br/>
    <div>
        <div class="row">
            <div class="col-sm-12">         
                <div class="row">            
                    <div class="col-8 col-sm-4 border backgroundWhite">
                        <div class="col-6 text-left">
                         <p>
                            <a data-url="Metas/Create"
                            class="btn btn-primary popup" 
                            data-toggle="modal"
                            data-target="#modal-create-meta" >
                            <i class="fas fa-plus"></i> &nbsp;  Create New </a>
                        </p>               
                        </div>
                        <div>
                        @if(Model._Metas.Count() > 0)
                        {
                            <div class="ticket">
                                @foreach(var item in Model._Metas)
                                {
                                <div class="main-div">
                                    <div class="evento-container d-flex flex-column">
                                        <div class="evento-container-shadow d-flex flex-column">
                                            <div class="evento-container-shadow d-flex flex-column">"
                                                <div class="d-flex flex-row" >
                                                     <div class="d-flex align-items-center justify-content-center folio-container" >
                                                         @Html.DisplayFor(m => item.Nombre)    
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center time-container">
                                                        <partial name="_TableButtonPartial" model="item.Id" />
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row info-container">
                                                    @Html.DisplayFor(m=>item.Porcentaje)
                                                </div>
                                               <div class="d-flex flex-row info-container">
                                                    <div class="progress">
                                                        <div class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: @Html.DisplayFor(m=>item.Porcentaje);" 
                                                                aria-valuenow="@Html.DisplayFor(m=>item.Porcentaje)" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100">@Html.DisplayFor(m=>item.Porcentaje)%
                                                        </div>                             
                                                    </div>                                    
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <partial name="_LaunchTask" model="item.Id"/>
                                }
                            </div>
                        }
                      </div>
              </div>

              <div class="col-4 col-sm-8 border backgroundWhite">    
                           
                     <partial name="_TareasHead" />                   
               
                     <table id="DataTable" class="table table-striped border"  >
                            <thead>
                                <tr class="table-secondary">
                                   @* <th><input type="checkbox" id="checkAll"/></th>*@
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Tarea
                                    </th>
                                    <th>
                                        FechaCreacion
                                    </th>
                                    <th>
                                        Estado
                                    </th>                                    
                                   @* <th></th>
                                    <th></th>*@
                                </tr> 
                            </thead>
                            <tbody></tbody>
                        </table>
              
                       
                <div id="detailsDiv">                     
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>

</div>
<div aria-hidden="true" aria-labelledby="modal-create-meta-label" 
     role="dialog" tabindex="-1" 
     id="modal-create-meta" class="modal fade">  
    <div class="modal-dialog"> 
        Modal
    </div>  
</div>
@section Scripts{  
    <script src="~/js/modalCreate.js" asp-append-version="true"></script>  
    <link rel="stylesheet"  href="~/css/TicketDesing.css" />
   @* <link rel="stylesheet" href="~/css/ticketStyle.css" />*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.js"></script>
    <script>        
        $("#DataTable").DataTable();

   //$(document).ready(function () {

   //     $("#checkAll").click(function () {
   //         $(".checkBox").prop('checked', 
   //             $(this).prop('checked'));
   //     });

   //     $("#delete").click(function () {
   //         var selectedIDs = new Array();
   //         $('input:checkbox.checkBox').each(function () {
   //             if ($(this).prop('checked')) {
   //                 selectedIDs.push($(this).val());
   //             }
   //         });

   //         var options = {};
   //         options.url = "/home/delete";
   //         options.type = "POST";
   //         options.data = JSON.stringify(selectedIDs);
   //         options.contentType = "application/json";
   //         options.dataType = "json";
   //         options.success = function (msg) {
   //             alert(msg);
   //         };
   //         options.error = function () {
   //             alert("Error while deleting the records!");
   //         };
   //         $.ajax(options);

   //     });
   // });
    </script>
     <script src="~/js/partialTables.js" asp-append-version="true"></script>
    
}  